body {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;


}

* {
    font-family: sans-serif;
    box-sizing: border-box;

}

h2 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    display: block;
    margin-top: 30px;
}

form {
    width: 500px;
    border: 2px solid black;
    padding: 30px;
    background: #fff;
    border-radius: 20px;

}

input {
    display: block;
    border: 2px solid #ccc;
    width: 75%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label   {
    margin-left: 10%;
    color: #888;
    font-size: 18px;
    padding: 10px;
    /* border: 2px solid #ccc;*/
} 

button {
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 3px;
    margin-right: 15px;
    border:none;
}

button:hover{
    opacity: 0.8;
}

.error {
    margin-left: 12%;
    display: block;
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 75%;
    border-radius: 4px;
    margin: 16px auto;
}

    